.mask {
  overflow: hidden;

  .animation {
    transform: translateY(100px);
    transform-origin: top center;
  }

  .start {
    animation: slideup 800ms cubic-bezier(0.65, 0, 0.35, 1) forwards;
  }

  @keyframes slideup {
    0% {
      transform: translateY(100px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}
