@use '../abstracts//breakpoints.scss' as breakpoint;

.grid {
  max-width: 1240px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-row-gap: 100px;
  grid-column-gap: 40px;

  @include breakpoint.for_breakpoint(tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @include breakpoint.for_breakpoint(mobile) {
    grid-template-columns: 1fr;
    grid-row-gap: 70px;
  }
}
