@use '../abstracts//variables.scss' as var;
@use '../abstracts//breakpoints.scss' as breakpoint;

.burgerButton {
  display: none;
  cursor: pointer;
  padding: 16px;
  @include breakpoint.for_breakpoint(mobile tablet) {
    display: inline;
  }

  .line {
    height: 3px;
    width: 30px;
    background-color: var.$color-base;
  }

  .line:first-child {
    margin-bottom: 3.5px;
  }

  .line:nth-child(2) {
    margin-top: 3.5px;
  }
}

.burgerButtonSmall {
  cursor: pointer;
  padding: 0;

  .line {
    height: 3px;
    width: 16px;
    background-color: var.$color-base;
  }

  .line:first-child {
    margin-bottom: 3.5px;

    transform-style: preserve-3d;
    transition: transform 300ms ease 0s;
    transform: translateY(0px) rotateZ(0deg);
  }

  .line:nth-child(2) {
    margin-top: 3.5px;

    transform-style: preserve-3d;
    transition: transform 300ms ease 0s;
    transform: translateY(0px) rotateZ(0deg);
  }

  &.close {
    .line:first-child {
      transform: translateY(3.5px) rotateZ(45deg);
    }

    .line:nth-child(2) {
      transform: translateY(-3.5px) rotateZ(-45deg);
    }
  }
}
