@use '../abstracts//breakpoints.scss' as breakpoint;

.container {
  display: flex;
  padding: 0 60px;

  @include breakpoint.for_breakpoint(mobile) {
    padding: 0 20px;
  }

  @include breakpoint.for_breakpoint(tablet) {
    padding: 0 40px;
  }

  .main {
    width: 100%;
  }
}
