@use '../abstracts/variables.scss' as var;

.title {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 70px 0 120px 0;

  h1 {
    margin: 0;
  }

  span {
    color: var.$color-base;
  }
}
