@use '../abstracts//breakpoints.scss' as breakpoint;

.sidebar {
  position: fixed;
  width: 60px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 300;
  background-color: white;

  @include breakpoint.for_breakpoint(mobile) {
    width: 20px;
  }

  @include breakpoint.for_breakpoint(tablet) {
    width: 40px;
  }

  .legend {
    position: absolute;
    left: 0px;
    bottom: 15%;
    width: 60px;

    @include breakpoint.for_breakpoint(mobile) {
      width: 20px;
    }

    @include breakpoint.for_breakpoint(tablet) {
      width: 40px;
    }

    p {
      white-space: nowrap;
      transform: rotateZ(-90deg);
      margin: 0;
      letter-spacing: 1.6px;
      font-size: 13px;
      font-weight: bold;

      @include breakpoint.for_breakpoint(mobile) {
        font-size: 11px;
      }
    }
  }
}
