@use '../abstracts//breakpoints.scss' as breakpoint;

.sidebar {
  width: 60px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;

  @include breakpoint.for_breakpoint(mobile) {
    width: 20px;
  }

  @include breakpoint.for_breakpoint(tablet) {
    width: 40px;
  }
}
