//Varibles

//Colors

$color-base: #222222;
$color-primary: #bbbbbb;

$color-white: #ffffff;

$color-gray-text: #aaaaaa;
$color-gray-border: #cccccc;
$color-gray-background: #f6f6f6;

$color-red-text: #770012;

$color-blue-text: #271c64;
