@use '../abstracts/variables.scss' as var;
@use '../abstracts//breakpoints.scss' as breakpoint;

@font-face {
  font-family: "Gilroy";
  src: url(../../assets/fonts/gilroy-bold-webfont.woff) format("woff");
  font-weight: bold;
  font-style: bold;
  font-display: block;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Gilroy";
  src: url(../../assets/fonts/gilroy-regular-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
  unicode-range: U+000-5FF;
}

html {
  font-family: Gilroy;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  color: var.$color-base;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}

a {
  text-decoration: none;
  color: var.$color-base;
}

p {
  margin: 0;
}

h1 {
  max-width: 1070px;
  font-size: 90px;
  line-height: 88px;
  color: var.$color-primary;

  @include breakpoint.for_breakpoint(tablet) {
    font-size: 80px;
    line-height: 85px;
  }

  @include breakpoint.for_breakpoint(mobile) {
    font-size: 40px;
    line-height: 48px;
  }
}
