@use '../abstracts/breakpoints.scss' as breakpoint;

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;

  .buttonStories {
    padding-top: 50px;
    @include breakpoint.for_breakpoint(tablet) {
      padding-top: 150px;
    }

    @include breakpoint.for_breakpoint(mobile) {
      padding-top: 100px;
    }
  }
}
